<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Finding Game</title>
    <link rel="stylesheet" href="/css/findColor.css" />
  </head>
  <body>
    <h1>Find different color</h1>
    <div id="stripe">
      <button id="resetBtn">New Game</button>
      <!-- <p>Your Score: </p> -->
      <span id="messageDisplay"></span>
      <button class="mode selected">Easy</button>
      <button class="mode">Medium</button>
      <button class="mode">Hard</button>
    </div>

    <div id="container">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>

    <div class="scoreboard" style="margin: auto">Score: <span id="score">0</span></div>
    <script src="/js/findColor.js" type="text/javascript"></script>
  </body>
</html>
